@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";



:root{
  --grey: #4d4d4d;
  --primary-green: #4CAF4F;
  --light-grey: #F5F7FA;
  --body-size: 10px;
  --body-grey: #717171;
  --dark-blue: #263238;
  

}
*{
  font-family: 'Inter', sans-serif;
}